<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="moyasar_api_conf" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
                <label>Moyasar General Configuration</label>
                <field id="publishable_api_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Publishable API Key</label>
                    <comment>Your Publishable API key from Moyasar's dashboard; required to initiate payments.</comment>
                </field>
                <field id="secret_api_key" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Secret API Key</label>
                    <comment>Your Secret API key from Moyasar's dashboard; required to verify payments.</comment>
                </field>
                <field id="is_amount_verification_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label"
                       type="select">
                    <label>Enable Automatic Verification of Amount Tampering</label>
                    <comment>A double-check system of completed payment after the redirection to verify its status and amount paid before placing the order.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_invoice_generating_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label"
                       type="select">
                    <label>Enable Automatic Invoice Generator</label>
                    <comment>Generating invoice of completed order automatically.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="moyasar_online_payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="2" translate="label">
                <label>Moyasar Online ayment</label>

                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="credit_card" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label"
                       type="select">
                    <label>Card Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="stc_pay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label"
                       type="select">
                    <label>Stc Pay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="apple_pay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label"
                       type="select">
                    <label>Apple Pay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>


            <!-- Apple Pay -->
            <group id="moyasar_apple_pay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label">
                <label>Apple Pay Configuration</label>
        
                <field id="merchant_id" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Apple Pay Merchant ID</label>
                    <comment>Used for initiating Apple Pay Sessions</comment>
                </field>
                <field id="validate_merchant_cert" translate="label" type="Magento\Framework\Data\Form\Element\File" sortOrder="39" showInDefault="1" showInWebsite="0" >
                    <label>Validation Certificate</label>
                    <backend_model>Moyasar\Mysr\Model\Config\ApplePayCertificateFile</backend_model>
                    <upload_dir config="system" scope_info="1">moyasar/applepay/certificates</upload_dir>
                    <comment>Used for initiating Apple Pay Sessions</comment>
                </field>
                <field id="validate_merchant_pk" translate="label" type="Magento\Framework\Data\Form\Element\File" sortOrder="40" showInDefault="1" showInWebsite="0" >
                    <label>Certificate Private Key</label>
                    <backend_model>Moyasar\Mysr\Model\Config\ApplePayCertificateFile</backend_model>
                    <upload_dir config="system" scope_info="1">moyasar/applepay/certificates</upload_dir>
                    <comment>Used for initiating Apple Pay Sessions</comment>
                </field>
                <field id="validate_merchant_pk_password" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Private Key Password</label>
                    <comment>Used for initiating Apple Pay Sessions, Only set if there is a password for your private key</comment>
                </field>
            </group>
        </section>
    </system>
</config>
