<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="moyasar_payments" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
                <label>Moyasar Payments</label>

                <field id="active" showInDefault="1" showInStore="1" showInWebsite="0" sortOrder="0" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="secret_api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret API Key</label>
                </field>

                <field id="publishable_api_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Publishable API Key</label>
                </field>

                <field id="generate_invoice" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="4" translate="label" type="select">
                    <label>Enable Automatic Invoice Generator</label>
                    <comment>Generating invoice of completed order automatically.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="methods" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Methods</label>
                    <source_model>Moyasar\Mysr\Model\Config\Methods</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>

                <field id="schemes" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Schemes</label>
                    <source_model>Moyasar\Mysr\Model\Config\Schemes</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
