<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<moyasar_api_conf>
				<is_invoice_generating_enabled>1</is_invoice_generating_enabled>
				<is_amount_verification_enabled>0</is_amount_verification_enabled>
				<!-- It isn't needed to add the following line -model tag- but payment tag requires model tag, so I add MoyasarCreditCard model-->
				<model>Moyasar\Mysr\Model\Payment\MoyasarOnlinePayment</model>
			</moyasar_api_conf>

			<moyasar_online_payment>
				<active>1</active>
				<title>Online Payment</title>
				<model>Moyasar\Mysr\Model\Payment\MoyasarOnlinePayment</model>
				<crdit_card>1</crdit_card>
				<stc_pay>0</stc_pay>
				<apple_pay>0</apple_pay>
			</moyasar_online_payment>

			<moyasar_apple_pay>
				<active>0</active>
				<model>Moyasar\Mysr\Model\Payment\MoyasarApplePay</model>
				<order_status>pending_payment</order_status>
				<title>Apple Pay</title>
				<sort_order>0</sort_order>
			</moyasar_apple_pay>

			<moyasar_stc_pay>
				<active>0</active>
				<model>Moyasar\Mysr\Model\Payment\MoyasarStcPay</model>
				<order_status>pending_payment</order_status>
				<title>STC Pay</title>
				<sort_order>2</sort_order>
			</moyasar_stc_pay>
		</payment>
	</default>
</config>
