<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<moyasar_payments>
				<active>1</active>
				<model>Moyasar\Mysr\Model\Payment\MoyasarPayments</model>
				<order_status>pending</order_status>
				<title>Online Payments</title>
				<generate_invoice>1</generate_invoice>
				<methods>creditcard</methods>
				<schemes>mada,visa,mastercard</schemes>
			</moyasar_payments>
		</payment>
	</default>
</config>
